<div class="jumbotron">
<h1 id="time"><i>Getting game time...</i></h1>
    <p id="next-bloodmoon" class="lead">
        <i>Getting next blood moon...</i>
    </p>
</div>

<h2 class="login">Login</h2>
<div class="login">Some data may not be recieved until you log in.</div>
<div id="login-details" class="login">
    <label for="password">Password</label>
    <input id="password" type="password" placeholder="password"/>
    <input id="submit-pass" type="button" class="btn" value="Submit"/>
</div>

<h2>Chat</h2>
<div id="chat" class="container well">
</div>

<p id="chat-control">
    Auto-scroll chat <input name="auto-scroll" type="checkbox" checked="checked"/>
</p>

<h2>Online Players</h2>
<p id="players"><i>Loading players...</i></p>

<h2>Known Players</h2>
<p id="known-players"><i>Loading known players</i></p>

<script type="text/javascript">
    if (typeof console == "undefined") {
        window.console = {
            log: function () {}
        };
    }

    $(function() {
        var socket = io();
        socket.on('playerStats', function(players) {
            displayPlayerList($('#players'), players);
        });

        socket.on('knownPlayerList', function(players) {
            displayPlayerList($('#known-players'), players);
        });

        socket.on('time', function(timeDisplay) {
            $('#time').empty().append(timeDisplay.currentTime);
            var $nextBloodMoon = $('<span/>').append(timeDisplay.nextBloodMoon);
            if (timeDisplay.isBloodMoon) {
                $nextBloodMoon.addClass('blood-moon');
            }
            $('#next-bloodmoon').empty().append($nextBloodMoon);
        });

        socket.on('chat', function(chatMessage) {
            var $chatRow = $('<div/>')
                    .addClass('chat-message');
            var time = chatMessage.time;
            var userName = chatMessage.userName;
            var message = chatMessage.message;
            var $time =  $('<span/>')
                    .addClass('time')
                    .append(time);
            var $userName = $('<span/>')
                    .addClass('user-name')
                    .append(userName)
                    .append(':');
            var $message = $('<span/>')
                    .addClass('message')
                    .addClass()
                    .append(message);
            $chatRow.append($time)
                    .append($userName)
                    .append($message);
            $('#chat').append($chatRow);
            if ($('input[name=auto-scroll]').is(':checked')) {
                var chat = document.getElementById('chat');
                chat.scrollTop = chat.scrollHeight;
            }

        });
        socket.on('authenticated', function() {
            $('.login').hide();
            var $alert = $('<div/>')
                    .addClass('alert')
                    .addClass('alert-info')
                    .attr('role', 'alert')
                    .append('You have been logged in and will start receiving restricted data.');
            $('#login-details').after($alert);
            window.setTimeout(function() {
                $alert.alert('close');
            }, 4000);
        });

        socket.on('invalidPass', function() {
            $('input#password').val('');
            var $alert = $('<div/>')
                    .addClass('alert')
                    .addClass('invalid-login')
                    .addClass('alert-warning')
                    .attr('role', 'alert')
                    .append('You have entered an invalid password.  Please try again.');
            $('#login-details').prepend($alert);
        });

        function onSubmitPass() {
            $('.invalid-login').remove();
            // Hash the pass before sending it.
            var pass = $('#password').val();
            var hashed = Sha256.hash(pass);
            socket.emit('authenticate', hashed);
        }

        $('input#password').keyup(function(e) {
            var keyEnter = 13;
            if (e.which == keyEnter) {
                onSubmitPass();
            }
        });

        $('#submit-pass').click(onSubmitPass)
    });

    /**
     * Renders a sorted player list table in the target
     **/
    function displayPlayerList($target, players) {
        var $table = $('<table/>')
                .addClass('table');
        var columns = getColumns(players);
        if (columns.length > 0) {
            firstColumn = columns[0];
            players = players.sort(function(a, b) {
                var aValue = a[firstColumn].toUpperCase();
                var bValue = b[firstColumn].toUpperCase();
                if (aValue < bValue) {
                    return -1;
                }
                else if (aValue > bValue) {
                    return 1;
                }
                else {
                    return 0;
                }
            });
        }
        var $header = $('<tr/>');
        $.each(columns, function(id, column) {
            var $th = $('<th/>')
                    .append(column);
            $header.append($th);
        });
        $table.append($header);
        $.each(players, function(id, player) {
            var $tr = $('<tr/>');
            for (var i = 0, len = columns.length; i < len; i++) {
                var column = columns[i];
                var value = player[column];
                var $td = $('<td/>');
                if (typeof player[column] == 'string') {
                    $td.append(value);
                }
                else if(typeof value == 'object') {
                    if (value.hasOwnProperty('x') && value.hasOwnProperty('y') && value.hasOwnProperty('z')) {
                        // it's coordinates, display them as such
                        var $coords = $('<span/>')
                                .addClass('coordinates');
                        var axis = ['x', 'y', 'z'];
                        $.each(axis, function(i, cur_axis) {
                            var $cur_axis = $('<span/>')
                                    .addClass('coord-detail')
                                    .append(cur_axis)
                                    .append(':')
                                    .append(value[cur_axis]);
                            $coords.append($cur_axis);
                        });
                        $td.append($coords);
                    }
                }
                $tr.append($td);
            }
            $table.append($tr);
        });
        $target.empty().append($table);
    }

    /**
     * Gets the columns based on the keys of the first object
     *
     * @param object data
     *   object of data
     * @returns {Array}
     *   Array of columns
     */
    function getColumns(data) {
        var firstItem = null;
        for (var rowKey = 0, len = data.length; rowKey < len; rowKey++) {
            var row = data[rowKey];
            var columns = [];
            for (var column in row) {
                if (row.hasOwnProperty(column)){
                    columns.push(column);
                }
            }
            return columns;
        }
        return [];

    }
</script>
