<!DOCTYPE html>
<html>
<head>
    <title>SevenNode</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="javascripts/sha256.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div id="content" class="container">
    {{{body}}}
    <div class="footer">
        <p>
            Powered by <a href="https://bitbucket.org/sesopenko/sevennode">SevenNode</a>
        </p>
    </div>
</div>

</body>
</html>
