body{
    padding-top:10px;
}

span.blood-moon {
    color: #660000;
}

table tr:nth-child(even) {
    background-color:#eeeeee;
}

#chat {
    font-family: 'Consolas', 'Monaco', monospace;
    height:300px;
    overflow-y: scroll;
}
#chat .time {
    margin-right:8px;
}
#chat .user-name {
    margin-right:8px;
    font-weight:bold;
}
.coord-detail {
    margin-right:5px;
}